body {
  font-family: Roboto;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

button {
  color: white;
}

/* https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
